body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 40px;
}

.button-container button {
  padding: 15px 30px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
}

.button-container button:hover {
  background-color: #0056b3;
}
