body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.headbtn {
    display: flex;
    flex-direction: column;

    .backbtn {
        display: flex;
        height: 3em;
        width: 84px;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        letter-spacing: 1px;
        transition: all 0.2s linear;
        cursor: pointer;
        border: none;
        background: #9a971b;
        font-weight: normal;
        gap: 4px;
    }

    .backbtn:hover {
        box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #d1d1d1;
        font-weight: 600;
        transform: translateY(-2px);
        color: rgb(255, 255, 255);
        background-color: black;
    }

    .backbtn:hover img {
        display: none;
    }

    h1 {
        margin-bottom: 20px;
        text-align: start;
    }
}



.form-group {
    margin: 10px auto;
    text-align: left;
    max-width: 300px;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-left: 10px;
}

.submitbtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
}

.submitbtn:hover {
    background-color: #0056b3;
}

#password {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: green;
}